.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0A0A0A;
    height: 80px;
    width: 100%;
}

.body__movies {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #0A0A0A;
    height: auto;
}