.movies__box, .imag__movie {
width: 300px;
height: 350px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}
.movies__container {
    width: 300px;
    gap: 10px;
    /* border: 1px dashed red; */
    margin: auto;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgb(71, 62, 80);
}
/* .name_movies {
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 24.6px;
    font-weight: 600;
} */

.name__movies {
  /* border: 1px solid #ccc; */
  padding: 10px;
  border-radius: 4px;
  background-color: #7a7171;
  /* margin-bottom: 10px; */
  text-align: center;
  text-decoration: none;
}

.name__movies h2 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0px;
  color: #ede4e4;

}

.name__movies p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0;
  color: #dd9999;
}